html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#maze, p {
    position: relative;
    top: 50%;
}

#maze {
    margin: -160px auto 0 auto;
    border: 1px solid #000;
    width: 600px;
    height: 400px;
}

p {
    text-align: center;
}

#myDialog {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 150%;
    width: 60%;
    margin-left: 20%;
    margin-top: 3em;
    text-align:center;
    z-index: 1000;
    border: 1px solid #111111;
    padding: 1.5em;
    background-color: #ffffff;
}