html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#maze, p {
    position: relative;
    top: 50%;
}

#maze {
    margin: -180px auto 0 auto;
    border: 1px solid #000;
    width: 600px;
    height: 400px;
}

p {
    text-align: center;
}

#myDialog {
    visibility: hidden;
    position: absolute;
    font-size: 150%;
    width: 60%;
    margin-left: 15%;
    text-align:center;
    z-index: 1000;
    border: 1px solid #111111;
    padding: 5%;
    background-color: #ffffff;
    top: 50%;
    transform: translateY(-50%);
}

.tinted-body {
    background-color: #bbbbbb;
}
.tinted:after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    background: rgba(187, 187, 187, 0.5);
}